.select-options-container {
  display: block;
  align-items: center;
  flex-wrap: wrap;
}

.select-option-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: #9ba0a9;
  border: 1px solid green;
  margin: 3px;
}